<main class="bg-white dark:bg-gray-700">
  <div
    class="grid grid-cols-[0%_100%] md:grid-cols-[40%_60%] lg:grid-cols-[60%_40%] xl:grid-cols-[70%_30%]"
    style="
      background-image: url(https://wallpapers.com/images/hd/this-is-fine-9xu1jzg38qzy32cu.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div></div>
    <div
      class="overflow-hidden p-4 bg-white dark:bg-gray-800 md:rounded-s-3xl h-screen"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
