<main class="pt-32">
    <h1 class="text-8xl scale-110 text-center upper font-black text-red-600">
      Error 404 <span class="block text-[44px] font-semibold text-black"
        >Página no encontrada</span
      >
    </h1>
  
    <div class="flex justify-center pt-20">
      <div class="rounded-md">
        <img
          class="justify-center inline-block shadow-xl transition-all hover:contrast-150 hover:shadow-2xl"
          src="https://media.tenor.com/MYZgsN2TDJAAAAAC/this-is.gif"
          alt="this is fine"
        />
      </div>
    </div>
  </main>