<div class="bg-white dark:bg-gray-800">
  <main
    class="overflow-hidden px-4 bg-slate-100 dark:bg-gray-700 sm:rounded-ss-3xl h-screen sm:ml-[19rem] pt-24 sm:pt-4"
  >
    <button
      (click)="volver()"
      type="button"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      Salir
    </button>
    <router-outlet></router-outlet>
  </main>
</div>
