<div class="mx-auto w-full max-w-md p-4 pt-8 sm:p-6 md:p-8">
  <form class="space-y-6" action="#">
    <h5 class="text-3xl font-bold text-gray-900 dark:text-white">
      Crear Cuenta
    </h5>

    <div>
      <label
        for="correo"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Ingresa un correo</label
      >
      <input
        type="email"
        [(ngModel)]="userData.correo"
        name="correo"
        id="correo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="nombre@dominio.com"
        required
      />
    </div>
    <div>
      <label
        for="usuario"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Ingresa un usuario</label
      >
      <input
        type="text"
        [(ngModel)]="userData.nombreUsuario"
        name="usuario"
        id="usuario"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="usuario"
        required
      />
    </div>
    <div>
      <label
        for="contrasena"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Ingresa una contraseña</label
      >
      <input
        type="password"
        [(ngModel)]="userData.contrasena"
        name="contrasena"
        id="contrasena"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        required
      />
    </div>
    <div>
      <label
        for="verificadorContrasena"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Verifica tu contraseña</label
      >
      <input
        type="password"
        [(ngModel)]="userData.verificadorContrasena"
        name="verificadorContrasena"
        id="verificadorContrasena"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        required
      />
    </div>

    <button
      (click)="registrar()"
      type="submit"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Registrar
    </button>
    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
      ¿Ya estas registrado?
      <a
        routerLink="/login"
        class="text-blue-700 hover:underline dark:text-blue-500"
        >Inicia sesión</a
      >
    </div>
  </form>
</div>
