<div class="flex flex-col text-center max-w-md mx-auto p-5 pt-10">
  <!-- Título principal con el mensaje -->
  <h4 class="text-4xl font-black uppercase text-gray-200 leading-3">{{ mensaje }}</h4>
  <!-- Subtítulo con el correo del usuario (solo se muestra si usuarioLogueado$ es true) -->
  <h5
    *ngIf="usuarioLogueado$ | async"
    class="text-2xl font-black uppercase pt-10 text-gray-200 leading-3"
  >
    {{ correo }}
  </h5>

  <!-- Contador (solo se muestra si usuarioLogueado$ es true) -->
  <p *ngIf="usuarioLogueado$ | async" class="text-6xl font-black text-gray-200 py-8">
    {{ cuenta }}
  </p>

  <!-- Botones para aumentar, disminuir y reiniciar la cuenta (solo se muestran si usuarioLogueado$ es true) -->
  <div *ngIf="usuarioLogueado$ | async" class="flex justify-between">
    <button
      (click)="cuenta = cuenta - 1"
      type="button"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      Menos uno
    </button>
    <button
      (click)="cuenta = 0"
      type="button"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      Reiniciar
    </button>
    <button
      (click)="cuenta = cuenta + 1"
      type="button"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      Más uno
    </button>
  </div>

  <!-- Botón para cerrar sesión (solo se muestra si usuarioLogueado$ es true) -->
  <div *ngIf="usuarioLogueado$ | async" class="flex flex-col mt-10">
    <a
      (click)="cerrarSesion()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Cerrar Sesion</a
    >
  </div>

  <!-- Botones para iniciar sesión y registrarse (solo se muestran si usuarioLogueado$ es false) -->
  <div *ngIf="(usuarioLogueado$ | async) === false" class="flex flex-col mt-10">
    <a
      href="login"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Iniciar Sesion</a
    >
    <a
      href="signup"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Registrar</a
    >
  </div>
</div>
