<div class="h-full flex flex-col justify-between">
  <!-- Mensajes enviados -->
  <div class="overflow-y-auto invisible scrollbox flex flex-col-reverse">
    <div class="visible scrollbox-interior">
      <ul>
        <li
          *ngFor="let message of messages | async"
          class="sent-message"
          class="text-gray-900 bg-white p-4 dark:bg-gray-800 dark:text-white rounded-lg shadow-lg ml-4 mr-4 sm:ml-8 sm:mr-8 mb-4"
        >
          <Span class="block font-bold"
            >{{ message.name }}
            <span class="text-xs font-semibold text-gray-500">{{
              message.fecha_hora
            }}</span>
          </Span>

          <span class="block">{{ message.text }}</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Formulario para enviar mensajes -->
  <div class="py-2">
    <form (ngSubmit)="sendMessage(messageInput, nameInput)">
      <label for="chat" class="sr-only">Your message</label>
      <div
        class="flex items-center px-3 py-2 rounded-lg bg-white dark:bg-gray-700"
      >
        <textarea
          id="messageInput"
          name="messageInput"
          [(ngModel)]="messageInput"
          rows="1"
          class="block shadow-lg mx-4 p-2.5 w-full text-sm text-gray-900 bg-slate-100 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Escribe un mensaje"
        ></textarea>
        <button
          type="submit"
          class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
        >
          <svg
            class="w-5 h-5 rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
            />
          </svg>
          <span class="sr-only">Enviar mensaje</span>
        </button>
      </div>
    </form>
  </div>
</div>
