<aside
  id="logo-sidebar"
  class="grid grid-cols-[23%_77%] fixed top-0 left-0 z-40 w-[19rem] h-screen pt-16 sm:pt-0 transition-transform -translate-x-full bg-white sm:translate-x-0 dark:bg-gray-800"
  aria-label="Sidebar"
>
  <!-- Lista Comunidades -->
  <div
    class="bg-slate-300 dark:bg-gray-900 h-screen flex flex-col justify-between"
  >
    <div class="overflow-y-visible overflow-x-hidden invisible scrollbox">
      <div class="visible scrollbox-interior">
        <ul class="grid grid-cols-1 gap-4 p-3">
          <li *ngFor="let comunidad of comunidades">
            <div
              [routerLink]="['/', comunidad.nombre]"
              class="dark:bg-gray-700 hover:dark:bg-gray-600 dark:text-gray-300 hover:dark:text-white flex w-full shadow-lg aspect-square object-cover rounded-full hover:transform hover:scale-110 hover:rounded-2xl transition duration-100 ease-in-out"
              data-tooltip-placement="right"
              [attr.data-tooltip-target]="comunidad.nombre"
            >
              <span class="m-auto text-2xl font-bold">
                {{ comunidad.nombre[0] }}{{ comunidad.nombre[1] }}
              </span>
            </div>

            <div
              [id]="comunidad.nombre"
              role="tooltip"
              class="cursor-pointer absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 delay-500 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
            >
              {{ comunidad.nombre }}
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </li>

          <li>
            <div
              class="dark:bg-gray-800 hover:dark:bg-gray-700 dark:text-black hover:dark:text-white flex w-full shadow-lg aspect-square object-cover rounded-full hover:transform hover:scale-110 hover:rounded-2xl transition duration-100 ease-in-out"
            >
              <svg
                class="w-5 h-5 m-auto"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  d="M9 1v16M1 9h16"
                />
              </svg>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="border-t-2 border-gray-400 dark:border-gray-800 p-3 hidden sm:block"
    >
      <!-- Home -->
      <div class="mt-2 mb-6">
        <svg
          routerLink="/home"
          class="flex-shrink-0 w-6 h-6 shadow-lg text-gray-500 transition duration-100 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white mx-auto hover:transform hover:scale-110 ease-in-out"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
          />
        </svg>
      </div>
      <!-- Usuario -->
      <div>
        <button
          type="button"
          class="flex shadow-lg text-sm bg-gray-800 rounded-full m-auto w-full hover:transform hover:scale-105 hover:rounded-2xl transition duration-100 ease-in-out"
          aria-expanded="false"
          data-dropdown-toggle="dropdown-top-user"
          data-dropdown-placement="top"
          [attr.data-tooltip-target]="nombreUsuario"
        >
          <span class="sr-only">Open user menu</span>
          <div
            class="dark:bg-gray-800 hover:dark:bg-gray-700 dark:text-gray-400 hover:dark:text-white flex w-full shadow-lg aspect-square object-cover rounded-full hover:transform hover:scale-110 hover:rounded-2xl transition duration-100 ease-in-out"
          >
            <span class="m-auto text-2xl font-bold">
              {{ inicialUsuario }}
            </span>
          </div>
        </button>

        <div
          [id]="nombreUsuario"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          {{ nombreUsuario }}
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
      <!-- Pop up menu -->
      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
        id="dropdown-top-user"
      >
        <div class="px-4 py-3" role="none">
          <p class="text-sm text-gray-900 dark:text-white" role="none">
            {{ nombreUsuario }}
          </p>
          <p
            class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
            role="none"
          >
            {{ correoUsuario }}
          </p>
        </div>
        <ul class="py-1" role="none">
          <li>
            <a
              routerLink="/configuracion"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem"
              >Configuraciones</a
            >
          </li>
          <li>
            <a
              (click)="cerrarSesion()"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem"
              >Cerrar sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Fin Lista Comunidades -->

  <!-- Lista Canales -->
  <div
    class="h-full px-3 pb-4 overflow-y-auto overflow-x-hidden invisible scrollbox bg-slate-100 dark:bg-gray-800 font-medium"
  >
    <div class="visible scrollbox interior">
      <ul class="grid grid-cols-1 gap-3 pt-3">
        <li>
          <a
            [routerLink]="['./canal-texto']"
            class="flex shadow-md items-center p-2 text-gray-900 rounded-lg bg-slate-200 dark:text-white hover:bg-slate-300 dark:bg-gray-700 dark:hover:bg-gray-600 group hover:transform hover:scale-105 transition duration-75 ease-in-out"
          >
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 18 18"
            >
              <path
                d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
              />
            </svg>
            <span class="ml-3">Canal texto</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['./canal-audio']"
            class="flex shadow-md items-center p-2 text-gray-900 rounded-lg bg-slate-200 dark:text-white hover:bg-slate-300 dark:bg-gray-700 dark:hover:bg-gray-600 group hover:transform hover:scale-105 transition duration-75 ease-in-out"
          >
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 18"
            >
              <path
                d="M10 0A10.011 10.011 0 0 0 0 10v5a3 3 0 0 0 3 3h3a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1H3c-.326.004-.65.062-.957.171a8 8 0 0 1 15.914 0A2.954 2.954 0 0 0 17 9h-3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h3a3 3 0 0 0 3-3v-5A10.011 10.011 0 0 0 10 0Z"
              />
            </svg>

            <span class="flex-1 ml-3 whitespace-nowrap">Canal audio</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['./canal-video']"
            class="flex shadow-md items-center p-2 text-gray-900 rounded-lg bg-slate-200 dark:text-white hover:bg-slate-300 dark:bg-gray-700 dark:hover:bg-gray-600 group hover:transform hover:scale-105 transition duration-75 ease-in-out"
          >
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 14"
            >
              <path
                d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"
              />
            </svg>

            <span class="flex-1 ml-3 whitespace-nowrap">Canal video</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fin Lista Canales -->
</aside>
